{
    "test": true,
    "timelockAdminAddress": "0x617b3a3528F9cDd6630fd3301B9c8911F7Bf063D",
    "minDelayTimelock": 3600,
    "salt": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "initialZkEVMDeployerOwner" :"",
    "admin":"",
    "trustedAggregator":"",
    "trustedAggregatorTimeout": 604799,
    "pendingStateTimeout": 604799,
    "emergencyCouncilAddress": "",
    "polTokenAddress":"",
    "zkEVMDeployerAddress":"",
    "gasTokenAddress": "",
    "gasTokenNetwork": 0,
    "maxFeePerGas":"",
    "maxPriorityFeePerGas":"",
}
